{% extends "layouts/main.njk" %}

{% block content %}
  <h2>Buttons</h2>

  <form role="form">
    <div class="form-group">
      <button type="button" class="button is-small">Small</button>
      <button type="button" class="button-secondary is-small">Small</button>
      <button type="button" class="button-tertiary is-small">Small</button>
      <button type="button" class="button-quaternary is-small">Small</button>
      <button type="button" class="button-white is-small">Small</button>
    </div>
    <div class="form-group">
      <button type="button">Primary</button>
      <button type="button" class="button-secondary">Secondary</button>
      <button type="button" class="button-tertiary">Tertiary</button>
      <button type="button" class="button-quaternary">Quaternary</button>
      <button type="button" class="button-white">White</button>
    </div>
    <div class="form-group">
      <button type="button" class="button is-big">Primary big</button>
      <button type="button" class="button-secondary is-big">Secondary big</button>
      <button type="button" class="button-tertiary is-big">Tertiary big</button>
      <button type="button" class="button-quaternary is-big">Quaternary big</button>
      <button type="button" class="button-white is-big">White big</button>
    </div>
    <div class="form-group">
      <button type="button" class="button is-block">Primary Block</button>
      <button type="button" class="button-secondary is-block">Secondary Block</button>
      <button type="button" class="button-tertiary is-block">Tertiary Block</button>
      <button type="button" class="button-quaternary is-block">Quaternary Block</button>
      <button type="button" class="button-white is-block">White Block</button>
    </div>
  </form>
{% endblock %}
