{% extends "layouts/main.njk" %}

{% block content %}
  <h2>Buttons</h2>

  <form role="form">
    <div class="form-group">
      <button type="button" class="button is-small">Small</button>
      <button type="button" class="button-white is-small">Small</button>
    </div>
    <div class="form-group">
      <button type="button">Primary</button>
      <button type="button" class="button-white">White</button>
    </div>
    <div class="form-group">
      <button type="button" class="button is-big">Primary big</button>
      <button type="button" class="button-white is-big">White big</button>
    </div>
    <div class="form-group">
      <button type="button" class="button is-rounded">Primary rounded</button>
      <button type="button" class="button-white is-rounded">White rounded</button>
    </div>
    <div class="form-group">
      <button type="button" class="button is-block">Primary Block</button>
      <button type="button" class="button-white is-block">White Block</button>
    </div>
  </form>
{% endblock %}
