{% extends "layouts/main.njk" %}

{% block content %}
  <p>This is the <strong>Index</strong> page</p>
  {% include "partials/_palette.njk" %}
  <p><a href="./contact.html">Contact</a></p>
{% endblock %}
