
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.clearfix
  +clearfix // include Bourbon clearfix mixin -> http://bourbon.io/docs/#clearfix

.pull-right
	float: right !important

.pull-left
	float: left !important


//
// Texts
//

.label-inline
  font-weight: normal
  display: inline-block
  margin-left: .5rem

.text-truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.break-word
  word-wrap: break-word !important

.no-wrap
  white-space: nowrap !important

.text-left
  text-align: left !important

.text-right
  text-align: right !important

.text-center
  text-align: center !important

.text-just
  text-align: justify !important

//
// Borders
//

.no-border
  border: none !important

.border-all
  border: $border-base

.border-top
  border-top: $border-base

.border-bottom
  border-bottom: $border-base

.border-right
  border-right: $border-base

.border-left
  border-left: $border-base

//
// Lists
//

.no-bullets
  list-style: none

.list-unstyled
  padding-left: 0
  list-style: none

.list-inline
  @extend .list-unstyled
  margin-left: -5px

  li
    display: inline-block

// Hide visually and from screen readers:
// http://juicystudio.com/article/screen-readers-display-none.php
.hidden
  display: none !important
  visibility: hidden

// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_  css/hiding-content-for-accessibility
.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

// Extends the .visually-hidden class to allow the element
// to be focusable when navigated to via the keyboard:
// https://www.drupal.org/node/897638
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

// Hide visually and from screen readers, but maintain layout
.invisible
  visibility: hidden
