<div class="palette">
  <div class="palette-item color-primary">
    <span></span>
    <p></p>
  </div>
  <div class="palette-item color-secondary">
    <span></span>
    <p></p>
  </div>
  <div class="palette-item color-tertiary">
    <span></span>
    <p></p>
  </div>
  <div class="palette-item color-quaternary">
    <span></span>
    <p></p>
  </div>
</div><!-- /palette -->
