$font-family-base: Helvetica, Arial, sans-serif

$font-size-base: 16px

$line-height-base: 1.6

$color-primary: #5bc4ed
$color-secondary: #334d8f
$color-tertiary: #feb545
$color-quaternary: #e6542b

$color-white: #fff
$color-black: #000
$color-silver: #dcddd8
$color-gray: #222

$color-base: lighten($color-black, 20%) // #333
$background-base: darken($color-white, 6%) // #f0f0f0

$font-weight-light: 300
$font-weight-normal: 500
$font-weight-bold: 800

$spacing-base: 30px

$desktop-large: 1680px
$desktop: 1280px
$tablet-large: 1024px
$tablet: 768px
$mobile-large: 480px
$mobile: 320px
